anyio
async-generator
attrs
blinker
certifi
charset-normalizer
click
contourpy
cycler
exceptiongroup
fake-useragent
Flask
fonttools
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
nltk
numpy
outcome
packaging
pandas
Pillow
pyparsing
pypng
PySocks
python-dateutil
python-telegram-bot
pytube
pytz
qrcode
regex
requests
scikit-learn
scipy
selenium
six
sniffio
sortedcontainers
tabulate
textblob
threadpoolctl
tqdm
trio
trio-websocket
typing_extensions
tzdata
urllib3
Werkzeug
wsproto
beautifulsoup4
pypdf2
pygame
customtkinter
geopy
discord